<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BENDR Feedback</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<true/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>uuid</key>
			<string>BENDRFeedback</string>
			<key>groupName</key>
			<string>BENDR</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>uuid</key>
			<string>BENDRFeedbackFilter</string>
			<key>className</key>
			<string>BENDRFeedbackFilter</string>
			<key>displayName</key>
			<string>BENDR Feedback</string>
			<key>group</key>
			<string>BENDR</string>
			<key>version</key>
			<string>1.0</string>
			<key>protocolNames</key>
			<array>
				<string>FxTileableEffect</string>
			</array>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>NSRunLoop</string>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
