<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>com.apple.protocol</key>
            <string>FxPlug</string>
            <key>com.apple.version</key>
            <string>4.0</string>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.pluginkit.pv</string>
    </dict>
    <key>PlugInKit</key>
    <dict>
        <key>PrincipalClass</key>
        <string>FxPrincipal</string>
        <key>Protocol</key>
        <string>PROXPCProtocol</string>
    </dict>
    <key>ProPlugPlugInGroupList</key>
    <array>
        <dict>
            <key>groupName</key>
            <string>BENDR</string>
            <key>uuid</key>
            <string>B4C2D1E0-4567-4890-ABCD-EF0123456789</string>
        </dict>
    </array>
    <key>ProPlugPlugInList</key>
    <array>
        <dict>
            <key>className</key>
            <string>BENDRFlowFilter</string>
            <key>displayName</key>
            <string>BENDR Flow</string>
            <key>protocolNames</key>
            <array>
                <string>FxFilter</string>
            </array>
            <key>uuid</key>
            <string>F3A2B3C4-D5E6-4789-8A1B-2C3D4E5F6A72</string>
        </dict>
    </array>
</dict>
</plist>
